# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories (remove the comment below if you use dep)
vendor/

# Go workspace file
go.work

# IDE configuration files
.idea/
.vscode/
.vimrc
.vscodeignore
.editorconfig


# # macOS
# .DS_Store

# # Windows
# Thumbs.db

# Linux
*~

# Docker
docker-compose.yml
.dockerignore
.env